body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  .box-row{
    display: flex;
    gap: 2px;
    max-width: 70vw;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    background-color: rgb(232, 232, 232);
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    font-size: 2em;
    
    &.blink{
      animation: blink 0.7s linear;
      animation-iteration-count: infinite;
      margin-bottom: -2px;
    }
  }

  .gap {
    margin: 3px;
  }
  .grid-container {
    display: flex;
    flex-grow: 1.5;
  }
  
  .keyboard-container {
    font-family: sans-serif;
    margin-bottom: 50px;
    > div {
      display: flex;
    }
    span {
      border: 1px solid black;
      width: 43px;
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      text-transform: capitalize;
      font-weight: 800;
    }
  }
  .red {
    &-9{
      background-color: #ff3030;
    }
    &-8{
      background-color: #ff4e48;
    }
    &-7{
      background-color: #ff675f;
    }
    &-6{
      background-color: #ff7d76;
    }
    &-5{
      background-color: #ff918c;
    }
    &-4{
      background-color: #ffa5a2;
    }
    &-3{
      background-color: #ffb9b7;
    }
    &-2{
      background-color: #ffcccb;
    }
    &-1{
      background-color: #ffeeee;
    }
  }
  .grey {
    background-color: lightgray;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes blink {
  0% {
    border-bottom: 2px solid red;
    background-color: rgb(218, 215, 215);
  }
  50% {
    border-bottom: 2px solid transparent;
    background-color: rgb(232, 232, 232);
  }
  100% {
    border-bottom: 2px solid red;
    background-color: rgb(218, 215, 215);
  }
}